*.csv
*.yaml
*.json
*/data/*
*/config/*
!tweets_scraper/config/Readme.md
*.png
*.jpg
*.jpeg
.*ipynb
**/.DS_Store
*/__pycache__/
*.ipynb
*.toml
*.csv
__pycache__/
.ipynb_checkpoints/
*.pkl
*.pq
.chainlit/
fake_news_data/
*.xml
*.iml
tweets_scraper/parser/__pycache__/*
.vscode/
tweets_scraper/alpaca-lora/
*/.idea/